<div class="page-container main-page-padding">
  <h1 class="h1 text-center mb-54">
    {{ page.title | escape }}
  </h1>
  <div class="text page-content-max-width text-center">
    {{ page.content }}
  </div>
</div>

{% render 'dark-mode-styles' %}