<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="product-form form-wrapper bg-dark flex-row link-hover">
    {%- assign product_form_id = 'product-form-' | append: section.id -%}

    <product-form class="product-form">
        {%- form 'product', product, data-productid: product.id, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.selected_or_first_available_variant.id }}" disabled>
          <div class="product-form__buttons">
            <button
              type="submit"
              name="add"
              class="product-form__submit button button--full-width" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
            >
                <div class="flex-row">
                    <span>
                    {%- if product.selected_or_first_available_variant.available -%}
                        Add to Cart - 
                    {%- else -%}
                        Sold out - 
                    {%- endif -%}
                    </span>
                    <span class="ml-4">{{ product.price | money_without_trailing_zeros }}</span>
                </div>
                <div class="loading-overlay__spinner hidden">
                  
                </div>
            </button>

          </div>
        {%- endform -%}
    </product-form>

</div>