@font-face {
    font-family: 'Founders Grotesk';
    font-weight: normal;
    src: url('founders-grotesk-regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Founders Grotesk';
    font-weight: bold;
    src: url('founders-grotesk-bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Editorial New';
    font-style: normal;
    font-weight: 200;
    src: url('PPEditorialNew-Ultralight.woff2') format('woff2'),
        url('PPEditorialNew-Ultralight.woff') format('woff');
}

:root {
    --serif: 'Editorial New', serif;
    --sans-serif: 'Founders Grotesk', sans-serif;
    --volcano: #1B1D1E;
    --volcano-600: #61686B;
    --volcano-300: #AEB4B7;
    --volcano-100: #E4E6E7;
    --volcano-50: #F2F2F3;
    --powder: #DDE0E5;
    --cloud: #B3C1D2;
    --sulfur: #EEF580;
    --warning: #FF6955;
    --disabled: #D1D1D1;
    --active: #9EF875;
    --body-text-color: var(--volcano);
    --link-text-color: var(--volcano-600);
    --site-header-height: 96px;
}

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    background-color: var(--main-bg-color);
    color: var(--body-text-color);
    font-family: var(--sans-serif);
    font-size: 1rem;
    line-height: 1.2rem;
}

a {
    color: inherit;
}

a:not(.link-underline) {
    text-decoration: none;
}

a:not(.link-plain) {
    color: var(--link-text-color);
}


p ul {
    padding-left: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 1rem;
    font-weight: 400;
}

.display {
    font-family: var(--serif);
    font-size: 92px;
    font-weight: 200;
    line-height: 92px;
    letter-spacing: 0em;
}

.h1 {
    font-family: var(--serif);
    font-size: 60px;
    font-weight: 200;
    line-height: 66px;
    letter-spacing: 0em;
}

.h2 {
    font-family: var(--serif);
    font-size: 48px;
    font-weight: 200;
    line-height: 60px;
    letter-spacing: 0em;
}

.h3 {
    font-family: var(--sans-serif);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.text-product-subheading {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.text-24 {
    font-size: 24px;
    line-height: 36px;
}

.text-product-preview-title {
    font-family: var(--sans-serif);
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.text-footer-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.text-tiny,
.text-footer-list {
    font-size: 12px;
    line-height: 14px;
}

.text-product-size,
.text-footer-newsletter-text {
    font-size: 14px;
    line-height: 16px;
    color: #737373;
}

.large-text {
    font-family: var(--sans-serif);
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
}

.text {
    font-family: var(--sans-serif);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.small-text {
    font-family: var(--sans-serif);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}

.link-inline {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline !important;
    color: #949B9E !important;
}

.text-16-bold {
    font-family: var(--sans-serif);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.text-small-bold {
    font-family: var(--sans-serif);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}

.text-big-bold {
    font-family: var(--sans-serif);
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
}

.text-upper {
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.detail {
    font-family: var(--sans-serif);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
}

.blockquote {
    font-family: var(--serif);
    font-size: 40px;
    font-weight: 200;
    line-height: 60px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: var(--volcano-300);
}

.text-strike {
    text-decoration: line-through;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-center {
    width: 100%;
    justify-content: center;
}

.flex-full {
    width: 100%;
    justify-content: space-between;
}

.object-cover-min {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.object-cover-max {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

nav ul,
.ul-plain {
    list-style: none;
}

button {
    outline: none;
    border-radius: 0;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

button:hover,
.link-hover:hover {
    cursor: pointer;
}


/* layout */
.page-container {
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    .page-container:not(.page-container-mb-full) {
        max-width: 95%;
        margin: 0 auto;
    }
}


.page-vert-padding {
    padding-top: 56px;
}

/* header */

.site-main {
    padding-top: var(--site-header-height);
}

.nowrap {
    white-space: nowrap;
}

.filter-invert {
    filter: invert(1);
}

.bg-dark {
    background: var(--volcano);
    color: white;
}

.bg-sulfur {
    background: var(--sulfur);
}

.bg-light {
    background: var(--powder);
}

.border-left {
    border-left: 1px solid var(--volcano);
}

/* utils */

.btn-circle {
    border: 1px solid var(--volcano);
    border-radius: 1rem;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 8px 16px;
}

.btn-no-hover:hover {
    cursor: default;
}

.page-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 40px;
}

/* icons */
/* .icon {
    display: block;
    width: 24px;
    height: 24px;
    background-color: var(--volcano);
    mask-repeat: no-repeat;
    mask-size: cover;
} */


/* forms */

.btn-square {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 28px;
    border: 1px solid var(--volcano)
}

input {
    border-radius: 0;
    outline: 0;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

input:not(.input-plain) {
    border-bottom: 1px solid var(--volcano)
}

input::placeholder {
    opacity: 1;
    color: var(--volcano);
}

.margin-left-sm {
    margin-left: 13px;
}

.img-outline {
    border: 1px solid var(--volcano);
    padding: 24px;
}

.mb-4 {
    margin-bottom: 4px;
}

.ml-4 {
    margin-left: 4px;
}

.mt-8 {
    margin-top: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-54 {
    margin-bottom: 54px;
}

.ml-1ch {
    margin-left: 1ch;
}

/* accordion */

.accordion-wrapper .accordion-title {
    padding: 12px 0;
    border-top: 1px solid var(--volcano);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-wrapper .accordion-title::after {
    content: '+';
    display: flex;
}

.accordion-wrapper .accordion-title:hover {
    cursor: pointer;
}

.accordion-wrapper .accordion-collapsible {
    height: 0;
    overflow: hidden;
    transition: .3s ease all;
}

.accordion-wrapper .expanded .accordion-collapsible {
    height: 100%;
}

.accordion-wrapper .expanded .accordion-title::after {
    content: '-';
}

.accordion-wrapper .accordion-collapsible p {
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    opacity: 0;
    transition: .5s ease all;
}

.accordion-wrapper .expanded .accordion-collapsible p {
    opacity: 1;
}

.flex-2 {
    flex: 2;
}

/* component quantity */
/* component-quantity */
.quantity {
    /* color: rgba(var(--color-foreground)); */
    position: relative;
    width: auto;
    display: flex;
    /* border-radius: var(--inputs-radius); */
    min-height: 30px;
}

.quantity:after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border: 0.1rem solid transparent;
    /* border-radius: var(--inputs-radius);
    box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
    transition: box-shadow var(--duration-short) ease; */
    z-index: 1;
}

.quantity:before {
    /* background: rgb(var(--color-background)); */
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* border-radius: var(--inputs-radius-outset);
    box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset) var(--inputs-shadow-blur-radius) rgba(var(--color-base-text), var(--inputs-shadow-opacity)); */
    z-index: -1;
}

.quantity__input {
    color: currentColor;
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 0.85;
    text-align: center;
    background-color: transparent;
    border: 0;
    padding: 0 0.5rem;
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    appearance: none;
}

.quantity__button {
    width: 30px;
    flex-shrink: 0;
    font-size: 1.8rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: rgb(var(--color-foreground)); */
    padding: 0;
}

.quantity__button:first-child {
    margin-left: 10px;
}

.quantity__button:last-child {
    margin-right: 10px;
}

.quantity__button svg {
    width: 1rem;
    pointer-events: none;
}

.quantity__button:focus-visible,
.quantity__input:focus-visible {
    /* background-color: rgb(var(--color-background)); */
    z-index: 2;
}

.quantity__button:focus,
.quantity__input:focus {
    /* background-color: rgb(var(--color-background)); */
    z-index: 2;
}

.quantity__button:not(:focus-visible):not(.focused),
.quantity__input:not(:focus-visible):not(.focused) {
    box-shadow: inherit;
    background-color: inherit;
}

/* .quantity__input:-webkit-autofill,
  .quantity__input:-webkit-autofill:hover,
  .quantity__input:-webkit-autofill:active {
    box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
    -webkit-box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
  } */

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity__input[type='number'] {
    -moz-appearance: textfield;
}

/* utils */

.rte p+p {
    margin-top: 8px;
}

.text-max-width {
    max-width: 890px;
    margin: 0 auto;
}

.main-page-padding {
    padding: 200px 0;
}

label {
    display: none;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

.body-wrapper.contact {
    background: var(--volcano)
}