.site-header {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #AEB4B7;
}


.site-header .brand {
    max-width: 100%;
}

.site-header .center-col {
    perspective: 1000px;
    transform-style: preserve-3d;
}

.site-header .center-col>* {
    transition: all .5s ease;
    transform: rotateX(0deg);
    transform-origin-y: 100%;
}

.site-header .center-col>*:hover {
    transform: rotateX(50deg);
}

.site-header .left-col,
.site-header .right-col {
    flex: 0 0 25%;
}

.site-header .left-col li:not(:last-child),
.site-header .right-col li:not(:last-child) {
    margin-right: 40px;
}

.site-header .center-col {
    flex: 0 0 50%;
}

.site-header li,
.site-header button {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}


@media (max-width: 800px) {
    .site-header .right-col li:not(:last-child) {
        margin-right: 0;
    }

    .mobile-menu-wrapper {
        background: var(--volcano);
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        padding: 20px;
    }

    .mobile-menu-wrapper button,
    .mobile-menu-wrapper a {
        color: #fff;
    }

    .mobile-menu-wrapper .brand {
        filter: invert(1);
    }

    .mobile-menu-wrapper>* {
        position: relative;
        z-index: 11;
    }

    .mobile-menu-wrapper .mobile-menu-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .mobile-menu-wrapper .mobile-menu-bg>img {
        max-height: 300px;
        min-width: 100%;
        object-fit: cover;
    }

    .mobile-menu-wrapper .menu-wrapper {
        padding-top: 60px;
    }

    .mobile-menu-wrapper .menu-wrapper nav li a:hover {
        color: var(--sulfur);
    }

    .mobile-menu-wrapper .menu-wrapper nav:first-child li a {
        font-family: var(--serif);
        font-size: 60px;
        font-weight: 200;
        line-height: 72px;
        padding: 6px 0;
        display: flex;
    }

    .mobile-menu-wrapper .menu-wrapper nav:last-child li a {
        padding: 4px 0;
        display: flex;
    }

    /* animations */
    .mobile-menu-wrapper {
        transition: .3s ease-out transform;
    }

    .site-header.collapsed .mobile-menu-wrapper {
        transform: translateX(-100%);
    }

    .site-header.expanded .mobile-menu-wrapper {
        transform: translateX(0%);
    }

    .mobile-menu-bg {
        transition: .7s ease-out all;
    }

    .site-header.collapsed .mobile-menu-bg {
        transform: translateY(100%);
        opacity: 0;
    }

    .site-header.expanded .mobile-menu-bg {
        transform: translateY(0%);
        opacity: 1;
    }
}